.card{
    -webkit-box-shadow: 0px 0px 21px -10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 21px -10px rgba(0,0,0,1);
    box-shadow: 0px 0px 21px -10px rgba(0,0,0,1);
    padding: 20px;
    
    width: 30%;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.card:nth-child(1){
    font-size: 1.7rem;
    font-weight: 800;
}

.card select{
    height: 10%;
    width: 100%;
}

.card__repository{
    background-color: rgb(243, 243, 243);
    position: relative;
    min-width: 100%;
    padding: 10px;
    height: fit-content;
    border-radius: 10px;

}

.card__repository h1{
    font-size: 1rem;
    position: absolute;
    top: 0;
    margin: 0;
    margin-top: 10px;

}

.repository__info{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.circle{
    border: 1px solid black;
    border-radius: 100%;
    width: 7px;
    height: 7px;
}

.repository__description{
    font-size: 1rem;
    font-weight: normal;
    color: rgb(167, 167, 167);
    margin-top: 7%;
}

.languaje_circle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.languaje_circle p, div{
    font-size: 1rem;
    font-weight: normal;
}

.icon, .iconContainer{
    display: flex;
    align-items: center;
    gap: 3px;
}

.iconContainer{
    gap:10px;
}

.icon img{
    width: 15px;
    height: 15px;
}

.repository__Bottom{
    display: flex;
    justify-content: space-between;
}